#root {
  max-width: 1600px;
  margin: 0 auto;
}

.eyebrow {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}


.title {
    /*margin-bottom: 1em;*/

}

.header {
    padding: 2rem;
    /*background: var(--accent-color-3);*/
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.nav-title {
    margin-bottom: 0.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    background: var(--background-color);
    border-radius: 10px;
    padding: 1rem;
}

.main.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

nav {
    /*background: var(--accent-color-3);*/

}

nav ul{
    position: sticky;
    top: 1em;
}

nav ul li {
    margin-bottom: 0.5rem;
}
